<div class="container m-5 p-5">

  <%= simple_form_for @box, url: boxes_path, validate: true do |f| %>

    <%=
      f.input :name
    %>

    <div class="row">
      <div class="col-6">
        <%=
          f.input :shipping_date, include_blank: true
        %>
      </div>
      <div class="col-6">
        <%=
          f.input :shipping_time, include_blank: true
        %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%=
           f.association :material, as: :radio_buttons, validate: true, wrapper: :horizontal_collection, hint: 'bla bla hint'
         %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%=
           f.association :colors, as: :check_boxes, wrapper: :vertical_collection, hint: 'select max 2 colors'
         %>
      </div>
    </div>

    <%= f.submit %>

  <% end %>
</div>
